<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clouyun.charge.modules.monitor.mapper.PositionMapper">
    <!-- 根据taskId获取位置信息 -->
	<select id="findPositionsByTaskId" parameterType="DataVo" resultType="DataVo">
	   SELECT yxg_pos_id,option_id,pos_long,pos_lat,pos_addr  FROM yxg_pos WHERE task_id=#{taskId}
	</select>
</mapper>