<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clouyun.charge.modules.member.mapper.PointMapper">
	<!-- 排序条件 -->
    <sql id="orderBy">
        <if test="sort!=null">
            ORDER BY ${sort} ${order}
        </if>
    </sql>
	
	<!-- 积分管理列表 -->
	<select id="queryPoints" resultType="DataVo">
		SELECT
			this_.point_id,
	        this_.point_type,
	        this_.gain_point,
	        this_.org_id,
	        this_.exchange_money,
	        this_.user_id,
	        this_.timetag,
	        pubuser2x1_.user_name,
	        puborg2x2_.org_id,
	        puborg2x2_.org_name
	    FROM
	        points this_ 
	    left outer JOIN
	        pub_org puborg2x2_ 
	            ON this_.org_id=puborg2x2_.org_id 
	    left outer JOIN
	        pub_user pubuser2x1_ 
	            ON this_.user_id=pubuser2x1_.user_id
	    <where>
	    	<if test="orgId != null">
	    		and puborg2x2_.org_id = #{orgId}
	    	</if>
	    	<if test="orgName != null">
	    		and puborg2x2_.org_name LIKE CONCAT('%',#{orgName},'%' ) 
	    	</if>
	    </where>
	</select>
	
	<select id="queryByType" resultType="DataVo">
		SELECT
			this_.point_id,
	        this_.point_type
	    FROM
	        points this_ 
	    where point_type = #{pointType} and org_id = #{orgId}    
	</select>
	
	<select id="queryPubOrg" resultType="DataVo">
		select * from pub_org where org_id = #{orgId}
	</select>
	
	<insert id="insertPoints" parameterType="Map" keyProperty="pointId" useGeneratedKeys="true">
		INSERT INTO points
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pointType != null">point_type,</if>
			<if test="gainPoint != null">gain_point,</if>
			<if test="orgId != null">org_id,</if>
			<if test="exchangeMoney != null">exchange_money,</if>
			<if test="userId != null">user_id,</if>
			<if test="timetag != null">timetag,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pointType != null">#{pointType},</if>
			<if test="gainPoint != null">#{gainPoint},</if>
			<if test="orgId != null">#{orgId},</if>
			<if test="exchangeMoney != null">#{exchangeMoney},</if>
			<if test="userId != null">#{userId},</if>
			<if test="timetag != null">#{timetag},</if>
		</trim>
	</insert>
	
	<update id="updatePoints">
		UPDATE points
			<set>
				<if test="exchangeMoney != null and '' != exchangeMoney">exchange_money = #{exchangeMoney},</if>
				<if test="gainPoint != null">gain_point = #{gainPoint},</if>
				<if test="userId != null and '' != userId">user_id = #{userId},</if>
				<if test="timetag != null and '' != timetag">timetag = #{timetag},</if>
			</set>
		where point_id = #{pointId}
	</update>
</mapper>